@charset "utf-8";

/*layout*/
#contentWrap{width:100%;position: relative;top:-170px;left:0;z-index: 40;}

/*article .mainVisual*/
#contentWrap .mainVisual{width:100%;position: relative;}

/*#mainVideo*/
#contentWrap .mainVisual .mainVideo{width:100%;}
#contentWrap .mainVisual .mainVideo video{width:100%;}

/*mainImg*/
#contentWrap .mainVisual .mainImg{display: none;}
#contentWrap .mainVisual .mainImg span{text-indent: -9999px;}

/*drawingAnimation*/
#contentWrap .mainVisual .drawingAnimation{width:100%;position: absolute;top:20%;left:10%;}
#contentWrap .mainVisual .drawingAnimation svg{width:90%;opacity: 0.8;}


/*비쥬얼 위 산타마리아노벨라 드로잉 애니매이션*/

@keyframes S-anim {
from {stroke-dashoffset: 400px}
to {stroke-dashoffset: 0px;}
}

@keyframes A-anim {
from {stroke-dashoffset: 400px}
to {stroke-dashoffset: 0px;}
}

@keyframes N-anim {
from {stroke-dashoffset: 450px}
to {stroke-dashoffset: 0px;}
}

@keyframes T-anim {
from {stroke-dashoffset: 420px}
to {stroke-dashoffset: 0px;}
}

@keyframes A2-anim {
from {stroke-dashoffset: 380px}
to {stroke-dashoffset: 0px;}
}

@keyframes M-anim {
from {stroke-dashoffset: 540px}
to {stroke-dashoffset: 0px;}
}

@keyframes A3-anim {
from {stroke-dashoffset: 380px}
to {stroke-dashoffset: 0px;}
}

@keyframes R-anim {
from {stroke-dashoffset: 280px}
to {stroke-dashoffset: 0px;}
}

@keyframes I-anim {
from {stroke-dashoffset: 220px}
to {stroke-dashoffset: 0px;}
}

@keyframes A4-anim {
from {stroke-dashoffset: 380px}
to {stroke-dashoffset: 0px;}
}

@keyframes N2-anim {
from {stroke-dashoffset: 560px}
to {stroke-dashoffset: 0px;}
}

@keyframes O-anim {
from {stroke-dashoffset: 300px}
to {stroke-dashoffset: 0px;}
}

@keyframes V-anim {
from {stroke-dashoffset: 290px}
to {stroke-dashoffset: 0px;}
}

@keyframes E-anim {
from {stroke-dashoffset: 300px}
to {stroke-dashoffset: 0px;}
}

@keyframes LL-anim {
from {stroke-dashoffset: 620px}
to {stroke-dashoffset: 0px;}
}

@keyframes A5-anim {
from {stroke-dashoffset: 380px}
to {stroke-dashoffset: 0px;}
}

@keyframes UNDER-anim {
from {stroke-dashoffset: 670px}
to {stroke-dashoffset: 0px;}
}

#s-grp,#a-grp,#n-grp,#t-grp,#a2-grp,#m-grp,#a3-grp,#r-grp,#i-grp,#a4-grp,#n-grp_1_,
#o-grp,#v-grp,#e-grp,#ll-grp,#a5-grp,#under--grp{-webkit-transform: translateZ(0);}

#s-grp{stroke-dasharray: 400px; stroke-dashoffset: -400px;Animation: S-anim .3s ease-in 4s forwards;}
#a-grp{stroke-dasharray: 400px; stroke-dashoffset: -400px;Animation: A-anim .3s linear 4.3s forwards;}
#n-grp{stroke-dasharray: 450px; stroke-dashoffset: -450px;Animation: N-anim .3s linear 4.6s forwards;}
#t-grp{stroke-dasharray: 420px; stroke-dashoffset: -420px;Animation: T-anim .3s linear 4.9s forwards;}
#a2-grp{stroke-dasharray: 380px; stroke-dashoffset: -380px;Animation: A2-anim .3s linear 5.2s forwards;}
#m-grp{stroke-dasharray: 560px; stroke-dashoffset: -560px;Animation: M-anim .3s linear 5.5s forwards;}
#a3-grp{stroke-dasharray: 380px; stroke-dashoffset: -380px;Animation: A3-anim .3s linear 5.8s forwards;}
#r-grp{stroke-dasharray: 280px; stroke-dashoffset: -280px;Animation: R-anim .3s linear 6.1s forwards;}
#i-grp{stroke-dasharray: 220px; stroke-dashoffset: -220px;Animation: I-anim .3s linear 6.4s forwards;}
#a4-grp{stroke-dasharray: 380px; stroke-dashoffset: -380px;Animation: A4-anim .3s linear 6.7s forwards;}
#n2-grp{stroke-dasharray: 560px; stroke-dashoffset: -560px;Animation: N2-anim .3s linear 7s forwards;}
#o-grp{stroke-dasharray: 300px; stroke-dashoffset: -300px;Animation: O-anim .3s linear 7.3s forwards;}
#v-grp{stroke-dasharray: 290px; stroke-dashoffset: -290px;Animation: V-anim .3s linear 7.6s forwards;}
#e-grp{stroke-dasharray: 300px; stroke-dashoffset: -300px;Animation: E-anim .3s linear 7.9s forwards;}
#ll-grp{stroke-dasharray: 620px; stroke-dashoffset: -620px;Animation: LL-anim .3s linear 8.2s forwards;}
#a5-grp{stroke-dasharray: 380px; stroke-dashoffset: -380px;Animation: A5-anim .3s linear 8.5s forwards;}
#under--grp{stroke-dasharray: 670px; stroke-dashoffset: -670px;Animation: UNDER-anim .3s linear 8.8s forwards;}


/*article .aboutUs_pc*/

/*.aboutUs_pc .aboutUsbox*/
#contentWrap .aboutUs_pc{width:100%;position: relative;}
#contentWrap .aboutUs_pc .aboutUsbox{width:100%; background: url(../images/aboutus_bg.jpg) 0 0 no-repeat;}
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu{width:95%;overflow: hidden;font-family: 'Cantata One', serif;padding:5% 0 5% 5%;}
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu ul{}
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu ul li{float: left;}
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu ul li a{display: block;width:100%;font-size: 1.3vw;}
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu ul li a.aboutusBtn{color:#ddd;}
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu ul li a.conceptBtn{color:#b7b7b7;margin-left: 30%;}

#contentWrap .aboutUs_pc .aboutUsbox figure{width:100%;display: flex;padding-bottom:8%;}
#contentWrap .aboutUs_pc .aboutUsbox figure img{display: block;width:42%;padding-left:5%;}

#contentWrap .aboutUs_pc .aboutUsbox figure figcaption{width:42%;padding:0 3%;margin-top:10%;}
#contentWrap .aboutUs_pc .aboutUsbox figure figcaption p{color:#ddd;font-family: 'Fauna One', serif;}
#contentWrap .aboutUs_pc .aboutUsbox figure figcaption p:nth-child(1){font-size:1.4vw;letter-spacing: 0.5vw;}
#contentWrap .aboutUs_pc .aboutUsbox figure figcaption p:nth-child(2){font-size:1vw;line-height: 1.8vw;margin-top: 15%;}

#contentWrap .aboutUs_pc .aboutUsbox .rightArrow{}
#contentWrap .aboutUs_pc .aboutUsbox .rightArrow a{display: block;position: absolute;right:0;top:0;bottom:0;width:4.2%;padding-bottom: 50.35%; background: url(../images/right_arrow.png) center no-repeat;background-size:cover;}

/*.aboutUs_pc .conceptBox*/
#contentWrap .aboutUs_pc .conceptBox{display: none;background: url(../images/aboutus_bg.jpg) 0 0 no-repeat;padding-bottom: 1.5%;position: relative;}
#contentWrap .aboutUs_pc .conceptBox .tabMenu{width:95%;overflow: hidden;font-family: 'Cantata One', serif;padding:5% 0 5% 5%;}
#contentWrap .aboutUs_pc .conceptBox .tabMenu ul{}
#contentWrap .aboutUs_pc .conceptBox .tabMenu ul li{float: left;}
#contentWrap .aboutUs_pc .conceptBox .tabMenu ul li a{display: block;width:100%;font-size: 1.3vw;}
#contentWrap .aboutUs_pc .conceptBox .tabMenu ul li a.aboutusBtn{color:#b7b7b7;}
#contentWrap .aboutUs_pc .conceptBox .tabMenu ul li a.conceptBtn{color:#ddd;margin-left: 30%;}

#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap{}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure{font-family: 'Fauna One', serif;}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure img{}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure figcaption{color:#fff;font-size:1vw;line-height: 1.8vw;}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure figcaption span{display: block;}

#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure:nth-child(1) figcaption{font-size:1.2vw;letter-spacing: 0.5vw;height: 20vh;padding-left:2vw;}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure:nth-child(2)  figcaption{width:25vw;padding-left:2vw;}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure:nth-child(5) figcaption{width:25vw;padding-left:2vw;}

/*스크롤 유도 아이콘 텍스트 논처리*/
.scrollArrow span{text-indent: -9999px;}


/*타블렛용 컨텐츠 논처리*/
#contentWrap .aboutUs_tablet{display: none;}
#contentWrap .concept_tablet{display: none;}

/*article .product_pc*/
#contentWrap .product_pc{width:100%;overflow: hidden;padding:10% 0;position: relative;}
#contentWrap .product_pc .productBox_pc{width:100%;height: 50%;}

/*타블렛용 컨텐츠 논처리*/
#contentWrap .product_m{display: none;}

/*product_pc .categoryTabmenu*/
#contentWrap .product_pc .categoryTabmenu{width:16%;height: 50%;position: absolute;top:80%;right: -5%;transform: translate(-50%,-50%)}
#contentWrap .product_pc .categoryTabmenu ul{}
#contentWrap .product_pc .categoryTabmenu ul li{margin:10% 0;}
#contentWrap .product_pc .categoryTabmenu ul li a{font-family: 'Roboto', sans-serif;font-size:1.2vw;font-weight: 600;position: relative;opacity: 0.5;}

#contentWrap .product_pc .categoryTabmenu ul li.selected a{opacity: 1;}

/*탭메뉴 호버 시 언더라인 효과*/
a.effect-underline:after {
    content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid #333;
    margin-top: 10px;
  opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*제품 타이틀 애니매이션 효과*/
.line1, .line2 {
  font-size: 0;
}

/*productBox_pc common css*/
#contentWrap .product_pc .productBox_pc .productTit{font-family: 'Cantata One';font-size: 5vw;display:flex;height: 30vh;padding-bottom: 5%;padding-left:6%;}

#contentWrap .product_pc .productBox_pc .productTit p{letter-spacing: 5vw;}
#contentWrap .product_pc .productBox_pc .productTit p:last-child{letter-spacing: 0;}
#contentWrap .product_pc .productBox_pc .productTit p:nth-child(2n+1){margin-bottom:auto;}
#contentWrap .product_pc .productBox_pc .productTit p:nth-child(2n){margin-top:auto;}
#contentWrap .product_pc .productBox_pc .productTit p span{display: block;}

#contentWrap .product_pc .productBox_pc .productTxt{width:31%;font-family: 'Fauna One', serif;font-size:1vw;line-height: 1.9vw;padding-left:5%;color:#111;}
#contentWrap .product_pc .productBox_pc .productTxt span{display: block;}

#contentWrap .productBox_pc .productImg{width:100%;} 
#contentWrap .productBox_pc .productImg span{display: block;text-indent: -9999px;margin-left:15%;}

/*cosmeticBox*/
#contentWrap .productBox_pc .cosmeticBox{width:100%;overflow: hidden;position: relative;}
#contentWrap .productBox_pc .cosmeticBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .productBox_pc .cosmeticBox .productImg span{width:53%;padding-top:50%;background: url(../images/cosmetics_pc.jpg) 0 0 no-repeat;background-size: contain;}

/*ancientBox*/
#contentWrap .productBox_pc .ancientBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .ancientBox .productTit p{letter-spacing: 3vw;}
#contentWrap .productBox_pc .ancientBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .productBox_pc .ancientBox .productImg span{width:53%;padding-top:54%;background: url(../images/ancient_pc.jpg) 0 0 no-repeat;background-size: contain;}

/*perfumesBox*/
#contentWrap .productBox_pc .perfumesBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .perfumesBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .productBox_pc .perfumesBox .productImg span{width:53%;padding-top:54%;background: url(../images/perfumes_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:20%;}

/*homeBox*/
#contentWrap .productBox_pc .homeBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .homeBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .product_pc .productBox_pc .homeBox .productTit p{letter-spacing: 3vw;}
#contentWrap .productBox_pc .homeBox .productImg span{width:53%;padding-top:54%;background: url(../images/home_fragrance_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:20%;}


/*waxBox*/
#contentWrap .productBox_pc .waxBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .waxBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .product_pc .productBox_pc .waxBox .productTit p{letter-spacing: 3vw;}
#contentWrap .productBox_pc .waxBox .productImg span{width:66%;padding-top:54%;background: url(../images/wax_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:10%;}

/*herbalsBox*/
#contentWrap .productBox_pc .herbalsBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .herbalsBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .productBox_pc .herbalsBox .productImg span{width:66%;padding-top:54%;background: url(../images/herbals_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:10%;}

/*liqueursBox*/
#contentWrap .productBox_pc .liqueursBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .liqueursBox .productTxt{width:45%;position: absolute;left:0;top:35%;}
#contentWrap .productBox_pc .liqueursBox .productImg span{width:66%;padding-top:54%;background: url(../images/liqueurs_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:10%;}

/*foodBox*/
#contentWrap .productBox_pc .foodBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .foodBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .product_pc .productBox_pc .foodBox .productTit p{letter-spacing: 3vw;}
#contentWrap .productBox_pc .foodBox .productImg span{width:55%;padding-top:54%;background: url(../images/food_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:10%;}

/*petBox*/
#contentWrap .productBox_pc .petsBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .petsBox .productTxt{position: absolute;left:35%;top:70%;}
#contentWrap .product_pc .productBox_pc .petsBox .productTit p{letter-spacing: 3vw;}
#contentWrap .productBox_pc .petsBox .productImg span{width:66%;padding-top:54%;background: url(../images/dogsandcats_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:5%;}

/*accBox*/
#contentWrap .productBox_pc .accBox{width:100%;overflow: hidden;position: relative;display: none;}
#contentWrap .product_pc .productBox_pc .accBox .productTxt{position: absolute;left:0;top:35%;}
#contentWrap .productBox_pc .accBox .productImg span{width:66%;padding-top:54%;background: url(../images/accessories_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left:5%;}



/*article .gift*/
#contentWrap .gift{width:100%;}
#contentWrap .gift .giftBox{width:100%;}
#contentWrap .gift .giftBox .giftTop{width:100%;}
#contentWrap .gift .giftBox .giftTop .mainImg{width:100%;padding-bottom: %; background: url(../images/gift_01.jpg) center no-repeat;background-size: cover;background-attachment: fixed;}
#contentWrap .gift .giftBox .giftTop .mainImg .giftTit{width:100%;font-family: 'Cantata One';font-size: 4vw;color:#fff;letter-spacing: 2vw;text-align: right;padding-top: 31%;padding-bottom: 2%;}
#contentWrap .gift .giftBox .giftTop .giftTxt01{width:60%;margin: 0 auto; font-family: 'Fauna One', serif;font-size:1vw;line-height: 1.9vw;margin-top:6%;}

#contentWrap .gift .giftBox .giftMid{width:100%;margin-top:3%;}
#contentWrap .gift .giftBox .giftMid .preciousyou{width:100%;padding-bottom:5%; background: url(../images/preciousyou.png) 50% 0 no-repeat; background-size:contain;}
#contentWrap .gift .giftBox .giftMid .subImg{width:100%;margin-top:4%;}
#contentWrap .gift .giftBox .giftMid .subImg img{}
#contentWrap .gift .giftBox .giftMid .subImg img:nth-child(1){display: block;width:66%;margin: 0 auto;}
#contentWrap .gift .giftBox .giftMid .subImg img:nth-child(2){margin-left: 17%; width:26.5%;margin-top:4%;}

#contentWrap .gift .giftBox .giftMid .subImg .giftTxt02{display: inline-block;width:37.2%;font-family: 'Fauna One', serif;font-size:1vw;line-height: 1.9vw;margin-top: 17%;margin-left: 2%;}

#contentWrap .gift .giftBox .giftBtm{width:100%;padding:5% 0;background: url(../images/gift_btm.jpg) center 90% no-repeat;margin-top: 8%;position: relative;}
#contentWrap .gift .giftBox .giftBtm .moveBg{background-color: #000;opacity: 0.7;width:60%;margin-left: 40%;padding-top:8%;padding-bottom: 9%;}
#contentWrap .gift .giftBox .giftBtm .moveBox{position: absolute;top:30%;left:40%;width:100%;overflow: hidden;margin-left: 3%;}
#contentWrap .gift .giftBox .giftBtm .moveBox p{color:#fff;}
#contentWrap .gift .giftBox .giftBtm .moveBox p:nth-child(1){font-family: 'Cantata One', serif;font-size: 1.6vw;letter-spacing: 0.2vw;}
#contentWrap .gift .giftBox .giftBtm .moveBox p:nth-child(2){font-family: 'Roboto', serif;font-size:1.2vw;margin-top: 1%;letter-spacing: 0.1vw;}
#contentWrap .gift .giftBox .giftBtm .moveBox p span{display: block;}

#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn{width:10%;margin-top: 1.5%;}
#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn a{display: block;width:100%;color:#fff;text-align: center;background-color: #fff;font-family: 'Roboto', serif;font-size:1.2vw;padding: 5% 0;font-weight: bold;background: none;position: relative; border: 0.5px solid #fff;overflow: hidden;}


/*shop 버튼 hover 효과*/

#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn:hover a{opacity: 0.99;transition: all 0.3s ease 0s;color: #000}

#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn a::before,
#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn a::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn a::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn a:hover:after {
  height: 100%;
  width: 135%;
}


/*article .newsletter*/
#contentWrap .newsletter{width:100%;}
#contentWrap .newsletter .newsletterBox{width:100%;margin-top: 8%;padding-bottom: 8%;}
#contentWrap .newsletter .newsletterBox .newsletterImg{display: block;width:60%;padding-bottom: 29%; background: url(../images/newsletter_pc.jpg) 0 0 no-repeat;background-size: contain;margin-left: 7%;text-indent: -9999px;}

#contentWrap .newsletter .newsletterBox .newsletterTit{font-family: 'Cantata One', serif;font-size:2.5vw;width:40%;margin-left: 53%;margin-top: -5%;}
#contentWrap .newsletter .newsletterBox .newsletterTit p{text-align: right;}
#contentWrap .newsletter .newsletterBox .newsletterTit p span{display: block;}

#contentWrap .newsletter .newsletterBox .newsletterTxt{width:51%;margin-left: 42%;margin-top: 1%;}
#contentWrap .newsletter .newsletterBox .newsletterTxt p{font-family: 'Fauna One', serif;font-size:0.9vw;line-height: 1.8vw;}

/*input박스*/
#contentWrap .newsletter .newsletterBox .inputBox{font-family: 'Fauna One', serif;width:26%;margin-left: 66%;margin-top: 3%;}
#contentWrap .newsletter .newsletterBox .inputBox form{font-size:0.9vw;}
#contentWrap .newsletter .newsletterBox .inputBox form fieldset:nth-child(1){width:100%;}
#contentWrap .newsletter .newsletterBox .inputBox form fieldset:nth-child(2){width:70%;float: left;}
#contentWrap .newsletter .newsletterBox .inputBox form fieldset:nth-child(3){width:30%;margin-top: 2.4%;}

#contentWrap .newsletter .newsletterBox .inputBox .emailBox{margin-bottom: 7%;border-bottom: 1px solid #333;padding-bottom: 2%;}
#contentWrap .newsletter .newsletterBox .inputBox .emailBox label{font-weight: bold;}
#contentWrap .newsletter .newsletterBox .inputBox .emailBox input{margin-left: 3%;width:70%;background-color: transparent;}

#contentWrap .newsletter .newsletterBox .inputBox .privacyBox{margin-bottom: 2%;}

#contentWrap .newsletter .newsletterBox .inputBox .sendBox{width:70%;border: 1px solid #333;text-align: center;padding:7% 0;margin-left:28%;}
#contentWrap .newsletter .newsletterBox .inputBox .sendBox input{font-family: 'Fauna One', serif;font-size:0.9vw;background-color: transparent;}


/*Checkboxes styles*/

#contentWrap .newsletter .newsletterBox .inputBox input[type="checkbox"] {display: none;}

#contentWrap .newsletter .newsletterBox .inputBox input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 9%;
  margin-bottom: 20px;
  color: #333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#contentWrap .newsletter .newsletterBox .inputBox input[type="checkbox"] + label:last-child { margin-bottom: 0; }

#contentWrap .newsletter .newsletterBox .inputBox input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 5%;
  padding-bottom: 5%;
  border: 1px solid #333;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

#contentWrap .newsletter .newsletterBox .inputBox input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*모바일용 뉴스레터 구독버튼 논처리*/
#contentWrap .newsletter .newsletterBox .inputBoxbtn{display: none;}





/*-------------------------미디어쿼리------------------------------*/

/* 일반PC*/
/*1025px~1280px*/

@media screen and (max-width:1280px) {


/*article .aboutUs*/
#contentWrap .aboutUs_pc .aboutUsbox .tabMenu ul li a{font-size: 1.6vw;}
#contentWrap .aboutUs_pc .aboutUsbox figure figcaption{width:42%;padding:0 3%;margin-top:10%;}
#contentWrap .aboutUs_pc .aboutUsbox figure figcaption p:nth-child(1){font-size:1.6vw;}
#contentWrap .aboutUs_pc .aboutUsbox figure figcaption p:nth-child(2){font-size:1.2vw;line-height: 2.2vw;margin-top: 10%;}
    
#contentWrap .aboutUs_pc .conceptBox .tabMenu ul li a{font-size: 1.6vw;}
    
/*aboutUs .conceptBox*/
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure:nth-child(1) figcaption{font-size:1.6vw;letter-spacing: 0.5vw;height: 20vh;padding-left:2vw;}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure:nth-child(2)  figcaption{font-size: 1.1vw;}
#contentWrap .aboutUs_pc .conceptBox .conceptImgwrap figure:nth-child(5) figcaption{font-size: 1.1vw;}
    
/*article .product*/
#contentWrap .product_pc{width:100%;overflow: hidden;position: relative;padding:10% 0;display:flex;}
#contentWrap .product_pc .productBox_pc{width:100%;height: 50%;}

/*categoryTabmenu*/
#contentWrap .product_pc .categoryTabmenu ul li{margin:10% 0;}
#contentWrap .product_pc .categoryTabmenu ul li a{font-size:1.6vw;}

/*productBox_pc common*/
#contentWrap .product_pc .productBox_pc .productTit{font-size: 5vw;height: 20vh;}
#contentWrap .product_pc .productBox_pc .productTit p{letter-spacing: 5vw;}
#contentWrap .product_pc .productBox_pc .productTxt{width:35%;font-size:1.2vw;line-height: 2.2vw;position: absolute;left:0;top:40%;}

/*article .gift*/
#contentWrap .gift .giftBox .giftTop .mainImg .giftTit{font-size: 5vw;}
#contentWrap .gift .giftBox .giftTop .giftTxt01{width:70%;font-size:1.2vw;line-height: 2.2vw;margin-top:6%;}
#contentWrap .gift .giftBox .giftMid .subImg .giftTxt02{font-size:1.2vw;line-height: 2.2vw;margin-top: 13%;}

#contentWrap .gift .giftBox .giftBtm .moveBg{width:60%;margin-left: 40%;}
#contentWrap .gift .giftBox .giftBtm .moveBox{position:absolute;top:27%;left:40%;width:100%;}
#contentWrap .gift .giftBox .giftBtm .moveBox p:nth-child(1){font-size: 1.8vw;}
#contentWrap .gift .giftBox .giftBtm .moveBox p:nth-child(2){font-size:1.4vw;}
#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn{width:14%;margin-top: 1%;}
#contentWrap .gift .giftBox .giftBtm .moveBox .moveBtn a{font-size:1.4vw;}

/*article .newsletter*/    
#contentWrap .newsletter .newsletterBox .newsletterTxt p{font-family: 'Fauna One', serif;font-size:1.1vw;line-height: 2vw;text-align: right;}

/*input박스*/
#contentWrap .newsletter .newsletterBox .inputBox form{font-size:1.1vw;}
#contentWrap .newsletter .newsletterBox .inputBox form .sendBox{padding:10%;border: 1px solid #333;}
#contentWrap .newsletter .newsletterBox .inputBox .sendBox{margin-left:8%;}
#contentWrap .newsletter .newsletterBox .inputBox form .sendBox .sendBtn{font-size:1.1vw;}



/* 대형태블릿 */
/*769px~1024px*/

@media screen and (max-width:1024px) {
    
    #contentWrap{position: relative;top:-67px;left:0;z-index: 40;}
    #contentWrap .mainVisual .mainVideo{display: none;}
    #contentWrap .aboutUs_pc{display: none;}

    /*mainImg*/
    #contentWrap .mainVisual .mainImg{display: block;width:100%;}
    #contentWrap .mainVisual .mainImg span{display: block;
    width : 100%;
	height : 0;
	padding-top : calc(1299/1024*100%); 
    /* calc (이미지 높이 ÷ 이미지 가로 × 100 %) */
	background : url(../images/visual_1024.jpg) center center no-repeat;
    background-size: contain;
    }
    
    /*drawingAnimation*/
    #contentWrap .mainVisual .drawingAnimation{display: none;}
    
    /* pc용 스크롤 애니매이션 효과*/
    .scrollArrow{display: none;}
    
    /* 타블렛 텍스트 common*/
    #contentWrap .tabletTit{font-size: 4vw;letter-spacing: 1vw;font-family: 'Cantata One', serif;}
    #contentWrap .tabletTxt{font-size: 2vw;line-height: 3.8vw;font-family: 'Fauna One', serif;}
    
    /*aboutUs_tablet*/
    #contentWrap .aboutUs_tablet{display: block;width:100%;position: relative;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t{width:100%;height: auto; background: url(../images/brown_bg.jpg) 0 0 no-repeat;background-size: cover;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t span{display: block;width:89vw;padding-top:23vh; text-indent: -9999px;background: url(../images/1024_top_deco.png) center no-repeat;position: absolute;left:5.5vw;top:-10vh;z-index: 200;background-size: contain;}
    
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure{width:100%;padding-top:10vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure img{display: block;height: 65vh; margin: 0 auto;}
    
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption{width:80%;height: auto; margin: 0 auto;padding-bottom: 10vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption p{color:#ddd;text-align: center}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption .tabletTit{padding-top:4vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption .tabletTxt{padding-top:2vh;}
        

    /* concept_tablet */
    #contentWrap .concept_tablet{display: block;width:100%; padding-top:15%;padding-bottom: 15%;}
    #contentWrap .concept_tablet .conceptBox_t{width:100%;height: auto;}
    #contentWrap .concept_tablet .conceptBox_t .tabletTxt{width:80%;padding-left:5%;padding-bottom: 3vh;color:#333;}
    
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t{width:100%;padding-bottom: 94%;background:url(../images/1024_conceptbg.jpg) 0 0 no-repeat;background-size: contain;position: relative;}
    
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .tabletTit{display: inline-block;transform: rotate(-90deg);margin-left:52%;margin-top:11%;}
    
    #contentWrap .product_pc .categoryTabmenu ul li a{font-size:1.2vw;font-weight: 500;}
    
    
    /* 컨셉 스와이퍼 슬라이드*/
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .swiper-container{width:100%;position: absolute;top:40%;left:0;}
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .swiper-container ul{width:100%;}
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .swiper-container ul li{width:60%;}
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .swiper-container ul li img{width:100%;}
    
    
    /* pc,대형tablet용 상품영역 논처리*/
    #contentWrap .product_pc{display: none;}
    
    /* 상품영역 공통*/
    #contentWrap .product_m{display: block;width:100%; overflow: hidden;position: relative;padding:10% 0;}
    #contentWrap .product_m .productBox_m{width:100%;padding-top: 105%;}
    #contentWrap .product_m .productBox_m ul{width:100%;}
    #contentWrap .product_m .productBox_m ul .slide{width:100%;}
    #contentWrap .product_m .productBox_m ul .slide .productTit_m{width:100%;}
    #contentWrap .product_m .productBox_m ul .slide .productTit_m p{font-family: 'Cantata One', serif;font-size: 6vw;text-align: center;letter-spacing: 1vw;}
    #contentWrap .product_m .productBox_m ul .slide .productTit_m p span{display: block;}
    
    #contentWrap .product_m .productBox_m ul .slide .productImg_m{width:90%;margin: 0 auto;}
    #contentWrap .product_m .productBox_m ul .slide .productImg_m img{width:100%;}
    
    /* shop버튼*/
    #contentWrap .product_m .shopBtn{width:40%;overflow: hidden;background-color: #111;margin: 0 auto;margin-top: 5%;}
    #contentWrap .product_m .shopBtn a{display: block;width:100%;height: 100%; color:#fff;font-size: 4vw;text-align: center;line-height: 10vw;font-family: 'Cantata One', serif;}
    
    
    /*pc용 컨텐츠 선물안내영역 논처리*/
    #contentWrap .gift{display: none;}
    
    /*article .newsletter*/
    #contentWrap .newsletter .newsletterBox{background: url(../images/brown_bg.jpg) 0 0 no-repeat;background-size: cover;color:#ddd;}
    #contentWrap .newsletter .newsletterBox .newsletterImg{display: block;width:100%;padding-bottom: 65%; background: url(../images/newsletter_t.jpg) 0 0 no-repeat;background-size: contain;margin-left: 0;}
    
    #contentWrap .newsletter .newsletterBox .newsletterTit{font-size:5vw;width:96%;margin: 0 auto;margin-top: 2%;}
    #contentWrap .newsletter .newsletterBox .newsletterTxt{display: none;}

    /*input박스*/
    #contentWrap .newsletter .newsletterBox .inputBox{font-family: 'Fauna One', serif;width:50%;margin-left: 48%;margin-top: 5%;}
    #contentWrap .newsletter .newsletterBox .inputBox form{font-size:2vw;}

    #contentWrap .newsletter .newsletterBox .inputBox .emailBox{border-bottom: 1px solid #ddd;}
    #contentWrap .newsletter .newsletterBox .inputBox .emailBox input{margin-left: 3%;width:70%;background-color:transparent;color:#ddd;}

    #contentWrap .newsletter .newsletterBox .inputBox .privacyBox{font-size:2vw;}
    #contentWrap .newsletter .newsletterBox .inputBox .privacyBox label{color:#ddd;}
    #contentWrap .newsletter .news.
    letterBox .inputBox .termsBox{font-size:2vw;}
    #contentWrap .newsletter .newsletterBox .inputBox .termsBox label{color:#ddd;}

    #contentWrap .newsletter .newsletterBox .inputBox form .sendBox{border: 1px solid #ddd;padding:8%;margin-left:10%;}
    #contentWrap .newsletter .newsletterBox .inputBox form .sendBox input{font-family: 'Fauna One', serif;font-size:2vw;color:#ddd;}

    /*Checkboxes styles*/

    input[type="checkbox"] {display: none;}

    input[type="checkbox"] + label {
      display: block;
      position: relative;
      padding-left: 15%;
      margin-bottom: 20px;
      color: #ddd;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input[type="checkbox"] + label:last-child { margin-bottom: 0; }

    input[type="checkbox"] + label:before {
      content: '';
      display: block;
      width: 7%;
      padding-bottom: 7%;
      border: 1px solid #ddd;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked + label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

}
    
    
/* 소형태블릿 */
/*376px~768px*/
@media screen and (max-width:768px) {
    
    #contentWrap{position: relative;top:0;left:0;z-index: 40;}
    #contentWrap .mainVisual{margin-top: 0px;}

    /*mainImg*/
    #contentWrap .mainVisual .mainImg span{
    width : 100%;
	height : 0;
	padding-top : calc(892/768*100%); 
    /* calc (이미지 높이 ÷ 이미지 가로 × 100 %) */
	background : url(../images/visual_768.jpg) center center no-repeat;
    background-size: contain;
}

    
    /*aboutUs_t*/
    #contentWrap .aboutUs_tablet .aboutUsbox_t .tabletTit{font-size: 4vw;letter-spacing: 0.5vw;padding-top:3.5vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t .tabletTxt{font-size: 2vw;line-height: 3.8vw;padding-top:2vh;}

    
    /*conceptBox_t*/

    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .tabletTit{margin-left:57%;}
    #contentWrap .concept_tablet .conceptBox_t .tabletTit{font-size: 4vw;letter-spacing: 0.5vw;padding-top:3.5vh;}
    #contentWrap .concept_tablet .conceptBox_t .tabletTxt{font-size: 2vw;line-height: 3.8vw;padding-top:2vh;}
    

    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .tabletTit{margin-left:52%;margin-top:7%;}
    
    
    /*article .product*/

    /* pc,대형tablet용 상품영역 논처리*/
    #contentWrap .product_pc{display: none;}
    
    
    /* 소형타블렛, mobile용 상품영역 블락처리*/
    
    /* 상품영역 공통*/
    #contentWrap .product_m{display: block;width:100%; overflow: hidden;position: relative;padding:10% 0;}
    #contentWrap .product_m .productBox_m{width:100%;padding-top: 105%;}
    #contentWrap .product_m .productBox_m ul{width:100%;}
    #contentWrap .product_m .productBox_m ul .slide{width:100%;}
    #contentWrap .product_m .productBox_m ul .slide .productTit_m{width:100%;}
    #contentWrap .product_m .productBox_m ul .slide .productTit_m p{font-family: 'Cantata One', serif;font-size: 6vw;text-align: center;letter-spacing: 1vw;}
    #contentWrap .product_m .productBox_m ul .slide .productTit_m p span{display: block;}
    
    #contentWrap .product_m .productBox_m ul .slide .productImg_m{width:90%;margin: 0 auto;}
    #contentWrap .product_m .productBox_m ul .slide .productImg_m img{width:100%;}
    
    /* shop버튼*/
    #contentWrap .product_m .shopBtn{width:40%;overflow: hidden;background-color: #111;margin: 0 auto;margin-top: 5%;}
    #contentWrap .product_m .shopBtn a{display: block;width:100%;color:#fff;font-size: 4vw;text-align: center;line-height: 10vw;font-family: 'Cantata One', serif;}
    

    /*article .newsletter*/
    #contentWrap .newsletter .newsletterBox{padding-bottom: 14%;}
    #contentWrap .newsletter .newsletterBox .newsletterTit{font-size:6vw;}

    /*newsletter input박스*/
    #contentWrap .newsletter .newsletterBox .inputBox{width:70%;margin-left: 27%;margin-top: 5%;}
    #contentWrap .newsletter .newsletterBox .inputBox form{font-size:3vw;}

    #contentWrap .newsletter .newsletterBox .inputBox .privacyBox{font-size:3vw;}
    #contentWrap .newsletter .newsletterBox .inputBox .termsBox{font-size:3vw;}
    #contentWrap .newsletter .newsletterBox .inputBox form .sendBox input{font-size:3vw;}
    
    
    }
    



/* 모바일*/
/*~375px*/
@media screen and (max-width:375px) {

    #contentWrap{position:relative;top:0;left:0;}
    #contentWrap .mainVisual{}
    
    /*mainImg*/
    #contentWrap .mainVisual .mainImg span{
    width : 100%;
	height : 0;
	padding-top : calc(1050/750*100%); 
    /* calc (이미지 높이 ÷ 이미지 가로 × 100 %) */
	background : url(../images/visual_375.jpg) center center no-repeat;
    background-size: contain;

}
    
    /*aboutUs_tablet*/
    #contentWrap .aboutUs_tablet{display: block;width:100%;position: relative;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t{background: none;height: auto;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t span{width:95vw;padding-top:23vh; background: url(../images/375_top_deco.png) center no-repeat;position: absolute;left:2.5vw;top:0vh;background-size: contain;}
    
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure{width:100%;padding-top:15vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure img{display: block;width:100vw;height: auto; margin: 0 auto;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption{width:94%;height: auto; margin: 0 auto;padding-bottom: 5vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption p{color:#333;text-align: left;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption .tabletTit{font-size: 7.5vw;letter-spacing: 0.5vw;padding-top:5vh;}
    #contentWrap .aboutUs_tablet .aboutUsbox_t figure figcaption .tabletTxt{font-size: 4vw;line-height: 6.5vw;padding-top:2.5vh;}
    
    /* concept_tablet */
    #contentWrap .concept_tablet{}
    #contentWrap .concept_tablet .conceptBox_t{}
    #contentWrap .concept_tablet .conceptBox_t .tabletTxt{}
    
    #contentWrap .concept_tablet .conceptBox_t .conceptBg_t .tabletTit{font-size: 7.5vw;letter-spacing: 0.5vw;padding-top:3.5vh;color:#333;margin-left:45%;margin-top:0%;}
    #contentWrap .concept_tablet .conceptBox_t .tabletTxt{display: none;}

    
    /*article .newsletter*/
    #contentWrap .newsletter .newsletterBox{background: none;color:#333;}
    #contentWrap .newsletter .newsletterBox .newsletterTit{margin-top: 4%;}
    #contentWrap .newsletter .newsletterBox .newsletterTit p{font-size:6vw;text-align: center;}

    /*inputBox*/
    #contentWrap .newsletter .newsletterBox .inputBox{display:none;}
    #contentWrap .newsletter .newsletterBox .inputBox{width:80%;margin-left: 0;margin: 0 auto;margin-top: 8%;}
    #contentWrap .newsletter .newsletterBox .inputBox .emailBox{border-bottom: 1px solid #333;}
    #contentWrap .newsletter .newsletterBox .inputBox .emailBox input{color:#333;}
    #contentWrap .newsletter .newsletterBox .inputBox form{font-size:5vw;}
    #contentWrap .newsletter .newsletterBox .inputBox .privacyBox{font-size:4vw;}
    #contentWrap .newsletter .newsletterBox .inputBox .privacyBox label{color:#333;}
    #contentWrap .newsletter .newsletterBox .inputBox .termsBox{font-size:4vw;}
    #contentWrap .newsletter .newsletterBox .inputBox .termsBox label{color:#333;}
    #contentWrap .newsletter .newsletterBox .inputBox form .sendBox{border: 1px solid #333;}
    #contentWrap .newsletter .newsletterBox .inputBox form .sendBox input{font-size:4vw;color:#333;}
    
    
    /*Checkboxes styles*/

    input[type="checkbox"] {display: none;}

    input[type="checkbox"] + label {
      display: block;
      position: relative;
      padding-left: 15%;
      margin-bottom: 20px;
      color: #333;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input[type="checkbox"] + label:last-child { margin-bottom: 0; }

    input[type="checkbox"] + label:before {
      content: '';
      display: block;
      width: 8%;
      padding-bottom: 8%;
      border: 1px solid #333;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked + label:before {
      width: 10px;
      top: -5px;
      left: 5px;
      border-radius: 0;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    
    /*inputBoxbtn*/
    #contentWrap .newsletter .newsletterBox .inputBoxbtn{display: block;width:40%;overflow: hidden;background-color: #111;margin: 0 auto;margin-top: 8%;}
    #contentWrap .newsletter .newsletterBox .inputBoxbtn a{display: block;width:100%;color:#fff;font-size: 4vw;text-align: center;line-height: 10vw;font-family: 'Cantata One', serif;}

    }
    